<h1>Add a New Figure</h1>

<form action="/figures" method="POST">
	<label>Name</label>
		<input type ="text" id="figure_name" name="figure[name]">

	<label> Titles: </label>
	<% Titles.all.each do |title| %>
		<input id="title_<%=title.id%>" type="checkbox" name="figure[titles_ids][]" value="<%= title.id %>">
	<% end %>

	<input type="submit" value="Create New Figure">
</form>